<div class="jumbotron center">
	<h1>DownTurn Digital Media</h1>
	<p>
	Downturn Digital Media is a web development and app development company devoted to aesthetic excellence, while maintaining high performance & usability levels. 

	Proficient in both website and mobile application development, look no further than Downturn for your development needs.
	</p>
</div><%= render 'layouts/info' %>
