<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>The Team</h2>
          <p>Here at Downturn Digital Media, yep that's a mouth full, we have over 6 years of programing experience, with on of our team members covering more then half of them! </p>
          <p><%= link_to "More", team_path, class: "btn btn-default" %></p>
        </div>
        <div class="col-md-4">
          <h2>Web Design</h2>
          <p>We kind of make websites, but our apps our better, have you seen our actual website </p>
          <p><%= link_to "More", web_path, class: "btn btn-default" %></p>
       </div>
        <div class="col-md-4">
          <h2>App development</h2>
          <p>We make apps, well Ryan makes apps, and he pretty darn fantastic at it too</p>
          <p><%= link_to "More", app_path, class: "btn btn-default" %></p>
        </div>
      </div>
</div>